@media screen and(max-width:767px){
	body{
		background-color:#08B;
		/*width:100%;*/
	}
	#one{		
			background-color:gray;
			border:2px solid black;	
			width:50%;
			margin-left:270px;
			margin-bottom:20px;
			padding:20px;
			font-size:15px;
			
		}
#two{	
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			margin-bottom:20px;
			padding:20px;
		}

#tree{ 
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			padding:20px;
			margin-bottom:20px;
		}
h2{
	border:2px solid black;	
	margin-left:640px;
	width:20%;
	margin-top:-20px;
	position:relative;
	text-transform:capitalize;
	text-shadow:3px 2px 2px blue;
	}	
h1{
	text-align:center;
	}
footer{
	background-color:gray;
	width:100%;
	height:70px;
}
#p1{
	background-color:maroon;	
	}
#p2{
	background-color:red;	
	}
#p3{
	background-color:pink;	
	}	
}

@media screen and(min-width:768px) and (max-width:991px){
	
	body{
		background-color#AAA;
		width:
	}

	#one{		
			background-color:gray;
			border:2px solid black;	
			width:60%;
			margin-left:250px;
			margin-bottom:20px;
			padding:20px;
			font-size:15px;
			
		}
#two{	
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			margin-bottom:20px;
			padding:20px;
		}

#tree{ 
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			padding:20px;
			margin-bottom:20px;
		}
h2{
	border:2px solid black;	
	margin-left:640px;
	width:20%;
	margin-top:-20px;
	position:relative;
	text-transform:capitalize;
	text-shadow:3px 2px 2px blue;
	}	
h1{
	text-align:center;
	}
footer{
	background-color:gray;
	width:100%;
	height:70px;
}
#p1{
	background-color:maroon;	
	}
#p2{
	background-color:red;	
	}
#p3{
	background-color:pink;	
	}		
}

@media screen and (min-width:992px){
		
		body{
			background-color:#0B8;
			width:100%;
		}
		
		#one{		
			background-color:gray;
			border:2px solid black;	
			width:60%;
			margin-left:250px;
			margin-bottom:20px;
			padding:20px;
			font-size:15px;
			
		}
#two{	
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			margin-bottom:20px;
			padding:20px;
		}

#tree{ 
			background-color:gray;
			border:2px solid black;	
			width:60%;
			height:30%;
			margin-left:250px;
			padding:20px;
			margin-bottom:20px;
		}
h2{
	border:2px solid black;	
	margin-left:640px;
	width:20%;
	margin-top:-20px;
	position:relative;
	text-transform:capitalize;
	text-shadow:3px 2px 2px blue;
	}	
h1{
	text-align:center;
	}
footer{
	background-color:gray;
	width:100%;
	height:120px;
	
}
#p1{
	background-color:maroon;	
	}
#p2{
	background-color:red;	
	}
#p3{
	background-color:pink;	
	}	

}